# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


 ../.CFUserTextEncoding
        ../.DS_Store
        ../.android/
        ../.aws/
        ../.bash_history
        ../.bash_sessions/
        ../.cache/
        ../.config/
        ../.cups/
        ../.docker/
        ../.expo/
        ../.gitconfig
        ../.gitignore
        ../.lesshst
        ../.local/
        ../.netrc
        ../.npm/
        ../.nvm/
        ../.oh-my-zsh/
        ../.react-native-cli/
        ../.ssh/
        ../.stepzen/
        ../.tailwindcss/
        ../.vim/
        ../.viminfo
        ../.vscode/
        ../.yarn/
        ../.yarnrc
        "../.zcompdump-Joker\342\200\231s MacBook Pro-5.9"
        ../.zprofile
        ../.zsh_history
        ../.zsh_sessions/
        ../.zshrc
        ../.zshrc.pre-oh-my-zsh
        ../Amazon-starter-template-nextjs copy 2/
        ../Amazon-starter-template-nextjs copy 3/
        ../Amazon-starter-template-nextjs copy/
        ../Amazon315/
        ../AmazonFinal/
        ../Applications/
        ../CCVS/
        ../Creative Cloud Files/
        ../Desktop/
        ../Documents/.DS_Store
        ../Documents/.localized
        ../Documents/44ast1.mov
        ../Documents/4ast1.mov
        ../Documents/Addresses for mail drops.html
        ../Documents/Amazon.mov
        ../Documents/Dmitry Laptev Invoice October.pdf
        ../Documents/Dmitry Laptev Invoice Template.docx
        ../Documents/Dmitry Laptev Invoice Template.pages
        ../Documents/Faulty routers AX 3000 RMA (19).pages
        ../Documents/React my projects/.DS_Store
        ../Documents/React my projects/deliveroo copy 2/
        ../Documents/React my projects/deliveroo rabotaet copy/
        ../Documents/React my projects/deliveroo-clone-react-native-sanity-master/
        ../Documents/React my projects/deliveroo/
        ../Documents/React my projects/deliveroorabotaet copy/
        ../Documents/React my projects/project_hoobank-main/
        ../Documents/React my projects/signup-main copy 5/
        ../Documents/React my projects/signup-main copy 6/
        ../Documents/React my projects/signup-main copy/
        ../Documents/React my projects/uber-clone-react-native-main copy 2/
        ../Documents/React my projects/uber-clone-react-native-main copy/
        ../Documents/React my projects/uuber copy 2/
        ../Documents/React my projects/uuber copy 3/
        ../Documents/React my projects/uuber copy/
        ../Documents/React my projects/uuber/
        ../Documents/Router's forecast.pages
        ../Documents/Screen Recording 2023-07-23 at 5.04.58 pm.mov
        ../Documents/Screenshot 2023-08-23 at 9.55.02 am.png
        ../Documents/Template.docx
        ../Documents/Template.pages
        ../Documents/Terminal Saved Output.txt
        ../Downloads/
        ../JavaM/
        ../JavaMinsk/
        ../JavaVS/
        ../Javafinal/
        ../Library/
        ../Movies/
        ../Music/
        ../Pictures/
        ../Public/
        ../Python/
        ../Python2/
        ../Webpackbabel/
        ../ai-weather-app-gpt4-graphql-stepzen-nextjs-13.3/
        ../amazon-2.0-nextjs-stripe-challenge/
        ../amazon-corretto-21-x64-linux-jdk.tar.gz
        ../amazon/
        ../apptodo copy 2/
        ../apptodo copy/
        ../apptodo/
        ../appweather/
        ../auth/
        ../blog/
        ../chartapp/
        ../clerk/
        ../coaching-call/
        ../ecommerce/
        ../ecommercestore/
        ../ecommersrabbeforedep copy/
        ../ecommersrabbeforedep/
        ../ecommersstore copy/
        ../ecommersstore/
        ../ecommersstorebdeployment/
        ../ecommersstoresanity/
        ../ecommersstoresanity2/
        ../ecommersvercel/
        ../framer/
        ../fundamentals/
        ../getting-started-app/
        ../gpt4/
        ../headless/
        ../headlesssuii/
        ../headlessui/
        ../headlessuii/
        ../isr/
        ../javachegg/
        ../jestreacttestlibrary/
        ../jokerapp/
        ../my-app/
        ../next12-13 copy/
        ../next12-13/
        ../next13explan/
        ../next13explanat/
        ../next13explanation/
        ../next14/
        ../nextjs.conf
        ../nextjs1213/
        ../node-docker/
        ../nodedocker/
        ../our-first-app/
        ../package-lock.json
        ../package.json
        ../react-testing-starter/
        ../reactdocker copy/
        ../reactdocker/Dockerfile
        ../reactdocker/index.js
        ../recoil/
        ../server-actions/
        ../signup/
        ../storybook/
        ../tailwindnextt/
        ../test/
        ../testcounter/
        ../to-do-app-with-redux-without-tests/
        ../todoapp/
        ../trello copy 2/
        ../trello copy/
        ../trello-2-nextjs-13.4-gpt-zustand-dragndrop-appwrite-typescript/
        ../trello/Dockerfile
        ../trello/vercel.json
        ../uber/
        ../upstash/
        ../uuber copy/
        ../uuber/
        ../uuuber/
        ../webhooks/
        ../yarn.lock